@font-face {
  font-family: 'gos';
  src: url('/fonts/gos.ttf'); 
}

:root,
html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  --gradient-angle:0deg;
}


* {
  box-sizing: border-box;
}

.carouseldiv{
  padding:0 12rem;
}
@media (width<1000px){
  .carouseldiv{
    padding:0 10rem;
  }
}
@media (width<800px){
  .carouseldiv{
    padding:0 7rem;
  }
}
@media (width<600px){
  .carouseldiv{
    padding:0 4rem;
  }
}
@media (width<500px){
  .carouseldiv{
    padding:0 3rem;
  }
}
@media (width<400px){
  .carouseldiv{
    padding:0 2rem;
  }
}

::-webkit-scrollbar{
  display: none;
}
@media (width> 800px){

  .carouseldiv{
    margin-top: -3rem;
  }
}